
<div>
   <h1>Quản lí khóa học của tôi</h1>
   <a href="/manager/trash">Thùng rác ({{number}})</a>
</div>

<div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">videoID</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each course}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td>{{this.videoId}}</td>
      <td><a href="/course/{{this._id}}/edit" class="btn btn-primary">Sửa</a></td>
      <td>
          <form action="/course/{{this._id}}/delete?_method=DELETE" method="POST">
             <button type="submit" class="btn btn-primary">Xóa</button>
          </form>
      </td>
    </tr>
     {{else}}
        <tr>
            <td>Bạn chưa đăng khóa học nào. Ấn vào <a href="/course/create">đây</a> để tạo khóa học</td>
        </tr>
    {{/each}}
  </tbody>
</table>
</div>