<h1>Page Sửa sản phẩm</h1>

<div>
    <form action="/admin/course/{{course._id}}/edit?_method=PUT" method="POST">
        <div class="form-group">
            <label for="name">Tên sản phẩm</label>
            <input type="text" id="name" name="name" value="{{course.name}}" class="form-control" placeholder="Tên sản phẩm">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text" id="description" name="description" value="{{course.description}}" class="form-control" placeholder="Mô tả chi tiết về sản phẩm">
        </div>

         <div class="form-group">
            <label for="image">imageUrl</label>
            <input type="text" id="image" name="image" value="{{course.image}}" class="form-control" placeholder="Mô tả chi tiết">
        </div>

        <div class="form-group">
            <label for="videoId">Đường dẫn video</label>
            <input type="text" id="videoId" name="videoId" value="{{course.videoId}}" class="form-control" placeholder="Đường dẫn video">
        </div>

         <div class="form-group">
            <label for="price">Giá tiền sản phẩm (Đơn vị:VNĐ)</label>
            <input type="number" id="price" name="price" value={{course.price}} class="form-control" placeholder="Giá tiền">
        </div>
          <div class="form-group">
            <label for="about">hashTag (cách nhau dấu "/")</label>
            <input type="text" id="about" name="about" value={{course.about}} class="form-control" placeholder="hashTag sản phẩm">
        </div>
        <button type="submit" class="btn btn-primary">Update thay đổi</button>
    </form>
</div>