
<div class="container mt-5">
    <h1 class="mb-4">Settings Page</h1>
    <ul class="list-group">
      <li class="list-group-item ">
        Name:
        <span>{{user.name}}</span>
      </li>
      <li class="list-group-item">
        Username:
        <span>{{user.username}}</span>
       
      </li>
      <li class="list-group-item">
        Password:
        <span>{{user.password}}</span>
         <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changePasswordModal">
            Đổi mật khẩu
            </button>
      </li>
      <li class="list-group-item">
        Ảnh đại diện: 
        <a href="/img/{{user.username}}.jpg">
          <img id="userImage" src="/img/{{user.username}}.jpg" alt="error" class="img-fluid rounded-circle" style="width: 50px; height: 50px;">
        </a>

         <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-username="{{user.username}}" data-toggle="modal" data-target="#changeImage">
          Đổi ảnh đại diện
        </button>
      </li>
    </ul>
  </div>



  <!-- Modal change password-->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changePasswordModalLabel">Đổi mật khẩu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="changePasswordForm" method="POST" action="/settings/change-password?_method=PUT">
          <div class="form-group">
            <label for="password">Mật khẩu mới</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Nhập mật khẩu mới" required>
            <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal change image-->
  <div class="modal fade" id="changeImage" tabindex="-1" aria-labelledby="changeImage" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changeImage">Đổi ảnh đại diện</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/settings/change-image?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-group">
             <input type="hidden" class="form-control" id="username" name="username" value="{{user.username}}" placeholder="Username........">
         </div>
         <div class="form-group">
            <input type="file" class="form-control-file"  id="image" name="image" accept="image/*" required>
        </div>
         <button type="submit" class="btn btn-primary">Đổi ảnh đại diện</button>
     </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>